<h3 class="text-center mt-5">TODO IO CRUD</h3>



<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <app-todo-form 
            (emitNewTodo)="getNewTodos($event)"
            (emitUpdateTodo)="getUpdateTodo($event)"
            [getEditobj]="editTodoobj"
            >

            </app-todo-form>
        </div>
        <div class="col-md-6">
            <app-todo-list 
            [getTodos]="todoArr"
            (emitEditTodo)="getEditTodo($event)"
            (emitRemoveId)="getRemovedId($event)"
            ></app-todo-list>
        </div>
    </div>
</div>